img {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.xs-1 {
  grid-column: span 12;
}

@media only screen and (min-width: 25em) {

  .s-1 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .s-1-2 {
    grid-column: span 6;
    grid-row: span 6;
  }

}

@media only screen and (min-width: 38em) {

  .m-1 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .m-1-2 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .m-1-3 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .m-2-3 {
    grid-column: span 8;
    grid-row: span 8;
  }

}

@media only screen and (min-width: 60em) {

  .l-1 {
    grid-column: span 12;
    grid-row: span 12;
  }

  .l-1-2 {
    grid-column: span 6;
    grid-row: span 6;
  }

  .l-1-3 {
    grid-column: span 4;
    grid-row: span 4;
  }

  .l-1-4 {
    grid-column: span 3;
    grid-row: span 3;
  }

}

.grid-cards {
  grid-gap: 1rem;
}

.grid-cards .col {
  display: flex;
}

.grid-cards .card {
  display: flex;
  flex-direction: column;
}

.grid-cards .card p {
  flex-grow: 1;
}

.split-content {
  grid-gap: 2rem;
}

@media only screen and (min-width: 60em) {

  .split-content {
    align-items: center;
  }

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr min(70em, 100%) 1fr;
}

.grid-container > * {
  grid-column: 2 / 3;
}

.contained {
  padding: 1rem;
}

.grid-container .full-width {
  grid-column: 1 / 4;
}

.full-width img {
  max-height: 30rem;
  object-fit: cover;
}